@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.ttf') format('truetype');
    src: url('../font/Roboto-Bold.ttf') format('truetype');
    src: url('../font/Roboto-Italic.ttf') format('truetype');
    src: url('../font/Roboto-Light.ttf') format('truetype');
    src: url('../font/Roboto-Medium.ttf') format('truetype');
    src: url('../font/Roboto-Regular.ttf') format('truetype');
    src: url('../font/Roboto-Thin.ttf') format('truetype');
  }