.loading-fundo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}

.fromLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fromLogo p{
    position: absolute;
    font-size: 14px;
    opacity: 0.2;
    bottom: 80px;
}

.imagem img:nth-child(1) {
    top: 250px;
    position: absolute;
    width: 70px;
}

.imagem img:nth-child(2) {
    position: absolute;
    width: 70px;
    bottom: 0;
}